@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
}
img{
	max-width: 100%;
}
.banner{
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	background-color: #3a3a3a;
	background-blend-mode: overlay;
}
.one{
	background-image: url(../images/banner1.jpg);
}
.two{
	background-image: url(../images/banner2.jpg);
}
.container{
	width: calc(100% - 200px);
	margin: auto;
}
.flex{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.btn{

color: #fff;

font-size: 10px;

text-transform: uppercase;

padding: 10px 30px;

display: inline-block;

background: #FB2056;

border-radius: 30px;

margin: 10px 0;
transition-duration: 0.3s;
}
.btn:hover{
	    background: #3a3a3a;
    box-shadow: 0 0 10px 0 #fff;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
header{
	padding: 20px 0;
}
.logo{

color: #fff;

width: 15%;

flex: 0 0 auto;
}
.logo span{
	font-size: 14px;
}
.logo strong{

display: block;

font-size: 16px;
font-weight: 700px;
}
nav{

width: 85%;

flex: 0 0 auto;
}
nav ul{

justify-content: flex-end;
}
nav ul li{

}
nav ul li a{

padding: 10px;

font-size: 14px;

font-weight: 600;

display: block;
color: #fff;

border: 2px solid #fff0;

border-radius: 30px;
}
nav ul li a:hover{
	border: 2px solid #fff;
}
.banner-text{

text-align: center;

padding: 200px 0;
}
.banner-text p{

font-size: 12px;

font-style: italic;

font-weight: 600;

color: #fff;
}
.banner-text span{
	width: 40px;
    height: 2px;
    background-color: #FB2056;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.banner-text h1{

color: #fff;

font-size: 40px;
}
.quote-section{

background: #F4F5F9;
}
.quote{

padding: 30px;
}
.quote p{

color: #94979D;

font-size: 16px;

font-style: italic;
}
.quote span{

color: #94979D;

text-align: center;

display: block;

padding: 20px 0 0;

font-weight: 700;
}

.event-section{
	padding: 100px 0;
}
.event-section h2{
	padding: 0px 0 10px;
	text-align: center;
}
.event-section .container span{
	width: 45px;
    height: 2px;
    background-color: #FB2056;
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 50px;
}
.col-2{

width: 50%;

padding: 15px;

text-align: center;
transition-duration: 0.3s;
}
.col-2 img{

height: 300px;

object-fit: cover;
}
.col-2 h3{

font-size: 14px;

padding: 10px 0;

color: #3a3a3a;
}
.col-2 p{

font-size: 12px;

color: #94979D;

padding: 10px 0;
}
.col-2 a{
	font-size: 12px;
    color: #FB2056;
    letter-spacing: 2px;
    font-weight: bold;
    transition-duration: 0.3s;
}
.col-2 a:hover{
	text-shadow: 0 0 10px #3a3a3a;
}
.event:hover{
	box-shadow: 0 0 10px 0 #3a3a3a;
}
.banner-two{
	padding: 100px 0;
}
.banner-two span{
	
}
.banner-50{
	width: 50%;
	padding: 150px 0;
	justify-content: right;
	text-align: left;
}

.banner-50 h1{
	font-size: 40px;
    color: #fff;
    line-height: 1;
}
.banner-50 p{
	font-size: 14px;
    color: #fff;
    line-height: 1.6;
    padding: 22px 0;
}
.banner-50 a{
	font-size: 12px;
    color: #fff;
    padding: 30px 0;
    letter-spacing: 2px;
    font-weight: bold;
    display: block;
    transition-duration: 0.3s;
}
.banner-50 a:hover{
	text-shadow: 0 0 10px #000;
}
.banner-50 span{
	width: 40px;
    height: 2px;
    background-color: #FB2056;
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
}
.upcoming-section{
	padding: 50px 0;
}
.col-3{
	width: 33.33%;
    flex: 0 0 auto;
    padding: 15px;
    transition-duration: 0.3s;
}
.col-3 h2{
	font-size: 25px;
    padding: 10px 0;
}
.col-3 p{
	font-size: 12px;
    padding: 10px 0;
    line-height: 1.6;
}
.col-3:hover{
	box-shadow: 0 0 10px 0 #3a3a3a;
}
.col-3 img:hover{
	box-shadow: 0 0 10px 0 #3a3a3a;
}
.col-3 span{
	width: 40px;
    height: 2px;
    background-color: #FB2056;
    display: block;
    margin: 5px 0 20px;
}

.size-large img{
	width: 300px;
	height: 200px;
	object-fit: cover;
}
.size-small img{
	width: 500px;
	height: 300px;
	object-fit: cover;
}
.align-start{
	align-self: flex-start;
}
footer{
	padding: 30px 0;
    background: #191919;
    color: #fff;
}
footer p{
	font-size: 14px;
    padding: 10px 0;
    font-weight: 600;
    text-align: center;
}